<p>
  <strong>First name:</strong>
  <%= @user.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @user.last_name %>
</p>

<p>
  <strong>Is staff:</strong>
  <%= @user.is_staff %>
</p>
<% if @current_user.is_staff %>
  <div>
    <%= link_to 'Toggle Staff Property', toggle_staff_path(:user => @user), class: "btn btn-info", style: "color:white" %>
  </div>
<% end %>
<br><br>
<%= link_to 'Edit', edit_user_path(@user), class: "btn btn-primary", style: "color:white" %> |
<%= link_to 'Back', users_path, class: "btn btn-danger", style: "color:white" %>
