<h1>
  <%= @user.to_s %>
  <% if @user.is_staff %>
    [STAFF]
  <% else %>
    [Normal User]
  <% end %>
  <% if @current_user.is_staff %>
    <%= link_to 'Toggle Staff Property', toggle_staff_path(:user => @user), class: "btn btn-info", style: "color:white" %>
  <% end %>
</h1>

<br>
<h2>
  <%= @user.to_s %>'s Games:
</h2>
<h5>
  Games owned: <%= @user.purcharses.length %>
</h5>
<div>
<% @user.purcharses.each do |pur| %>
  <%= link_to image_tag( pur.game.image_url, :style => "width:100px;height:100px"), pur.game %>
<% end %>
</div>


<p>

</p>

<% if @current_user.is_staff %>
  <%= link_to 'Edit', edit_user_path(@user), class: "btn btn-primary", style: "color:white" %> |
<% end %>
<%= link_to 'Back', users_path, class: "btn btn-danger", style: "color:white" %>
