<h1>Games</h1>

<table class='table table-hover table-striped'>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Image url</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @games.each do |game| %>
      <tr>
        <td><%= game.title %></td>
        <td><%= truncate(game.description.html_safe, length:75) %></td>
        <td><%= truncate(game.image_url.html_safe, length:75)%></td>
        <td><%= link_to 'Show', game %></td>
        <% if @current_user.is_staff %>
          <td><%= link_to 'Edit', edit_game_path(game) %></td>
        <% end %>
        <td><%= link_to 'Destroy', game, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Game', new_game_path %>
